* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.nav-menu {
    display: flex;
    margin: 16px 8px 0 8px;
    min-width: 320px;
    justify-content: space-between;
    align-items: center;
}

.nav-menu__left-wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-menu__burger-btn {
    display: flex;
    padding: 10px 8px;
    flex-direction: column;
    gap: 6px;
    border: none;
    border-radius: 4px;
    background: #0F8277;
}

.nav-menu__burger-line {
    width: 26px;
    height: 2px;
    border-radius: 100px;
    background: #EEE;
}

.title {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.subtitle {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;

}

.texttitle {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;

}

.all-btn-setting {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;

}

.nav-menu__logo{
    color: #000;
    font-size: 22px;
    text-decoration: none;

}

.nav-menu__explore {
    display: none;
}

.nav-menu__search {
    display: none;
}

.nav-menu__right-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
}

.nav-menu__nav-list {
    display: none;
}

.nav-menu__search-btn {
    display: none;
}

.nav-menu__nav-btn {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.nav-menu__btn-1 {
    border-radius: 4px;
    color: #0F8277;
    border: none;
    background: #FFFFFF;
    font-size: 14px;
}

.nav-menu__btn-2 {
    border-radius: 4px;
    background: #0F8277;
    border: none;
    color: #EEE;
    font-size: 14px;
}

.main-banner {
    min-width: 320px;
    margin: 16px 8px 0 8px;
    border-radius: 12px;
    background: #DBF3ED;
}

.main-banner__info {
    display: flex;
    padding: 105px 16px 118px 16px;
    flex-direction: column;
    gap: 32px;
}

.main-banner__title {
    font-size: 46px;

}

.main-banner__text {
    font-size: 18px;

}

.main-banner__btn {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main-banner__btn1 {
    gap: 10px;
    border: none;
    border-radius: 4px;
    background: #0F8277;
    color: #EEE;
    font-size: 14px;
}

.main-banner__btn2 {
    gap: 10px;
    border-radius: 4px;
    background: #DBF3ED;
    border: 2px solid #0F8277;
    color: #0F8277;
    font-size: 14px;
}

.education-course-cards {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    border-radius: 8px;
    text-decoration: none;
    border: 1px solid #DADADA;
}

.education-course-content {
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    gap: 32px;
    align-self: stretch;
}

.education-card__wrap {
    display: flex;
    margin: 64px 8px 0 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.education-card__title-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-self: stretch;
}

.education-card__first-title {
    color: #0F8277;
    font-size: 16px;
}

.education-card__second-title {
    font-size: 30px;
}

.education-card__text-description {
    font-size: 16px;
}

.education-card__card-setting {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-self: stretch;
}

.education-card__photo-banner {
    height: 278px;
    align-self: stretch;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


.education-card__card-titles {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: stretch;
}

.education-card__logo-card,
.education-card__logo-card-2 {
    display: flex;
    align-self: stretch;
    gap: 12px;
    color: #000;
    font-size: 14px;

}

.education-card__logo-card-3 {
    display: inline-block;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;

}

.education-card__logo-card::before {
    content: url("../img/dan-logo 1.svg");
    align-self: stretch;
}

.education-card__logo-card-2::before {
    content: url("../img/eu_logo.svg");
}

.education-card__logo-card-3::before {
    content:url("../img/logo-prjctr.svg");
}

.education-card__info {
    color: #000;
    font-size: 18px;
}

.education-card__link {
    display: flex;
    align-self: stretch;
    gap: 12px;
    color: #0F8277;
    font-size: 14px;
}

.education-card__link::before {
    content: url("../img/graduation hat.svg");
}

.education-card__card-setting {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-self: stretch;
}

.course-card {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    border-radius: 8px;
    text-decoration: none;
    border: 1px solid #DADADA;
}

.course-card__photo-banner {
    height: 278px;
    align-self: stretch;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.course-card__title-wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #000;
    align-self: stretch;
    font-size: 18px;
}

.course-card__course-title {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #000;
    align-self: stretch;
    font-size: 14px;
}

.course-card__course-title::before {
    content: url("../img/dan-logo 1.svg");
}

.course-card__course-link {
    color: #0F8277;
    font-size: 14px;
}

.course-card__btn {
    display: flex;
    gap: 16px;
    justify-content: center;
    text-decoration: none;
    align-self: stretch;
    color: #0F8277;
    font-size: 16px;
}

.course-card__btn::after {
    content:url("../img/arrow card.svg");
    transform: translateY(10%);
}

.category__wrap {
    margin: 64px 8px 0 8px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.category__title{
    font-size: 30px;
}

.category__list-all {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.category__list-setting {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.category__list-info {
    display: flex;
    width: 168px;
    flex-direction: column;
    gap: 24px;
}

.category__list-title {
    font-size: 18px;
}

.category__list-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.category__list-text {
    color: #0F8277;
    font-size: 14px;
}

.category__list-students {
    font-size: 14px;
}

.partners {
    margin-top: 64px;
    min-width: 320px;
    padding: 64px 8px;
    background: #DBF3ED;
    align-self: stretch;
}

.partners__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}

.partners__title {
    text-align: center;
    font-size: 30px;
}

.partners__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.partners__logo {
    display: flex;
    align-items: flex-start;
    gap: 14px;
}

.partners__photo-icon1 {
    display: flex;
    height: 42px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partners__photo-icon3 {
    display: flex;
    padding: 10px;
    flex-direction: column;

}

.partners__photo-icon4 {
    display: flex;
    height: 42px;
    align-items: center;
}

.partners__photo-icon {
    display: flex;
    height: 42px;
    flex-direction: column;
    justify-content: center;
}

.business {
    display: flex;
    flex-direction: column;
    margin: 64px 8px 0 8px;
    gap: 32px;
}

.business__wrap {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: flex-start;
}

.business__title {
    font-size: 30px;
}

.business__text {
    font-size: 18px;
}

.business__btn {
    border-radius: 4px;
    background: #0F8277;
    color: #EEE;
    align-self: stretch;
    border: none;
    font-size: 14px;
}

.business__brand {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.box-brand {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    width: 120px;
    height: 66px;
}

.brand-items1 {
    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
}

.brand-items2 {
    border-bottom: 1px solid #BABABA;
}

.brand-items3 {
    border-bottom: 1px solid #BABABA;
    border-left: 1px solid #BABABA;
}

.brand-items4 {
    border-right: 1px solid #BABABA;
}

.brand-items6 {
    border-left: 1px solid #BABABA;
}

.brand-items7 {
    border-top: 1px solid #BABABA;
    border-right: 1px solid #BABABA;
}

.brand-items8 {
    border-top: 1px solid #BABABA;
}

.brand-items9 {
    border-top: 1px solid #BABABA;
    border-left: 1px solid #BABABA;
}


.price {
    display: flex;
    margin-top: 64px;
    padding: 64px 8px 80px 8px;
    flex-direction: column;
    background: #DBF3ED;

}

.price__wrap {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-self: stretch;
}

.price__title {
    font-size: 30px;
    text-align: center;
}

.price__card-setting {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.price__card-1-3 {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    border-radius: 24px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
}

.price__card-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.price__text-title {
    font-size: 18px;
    text-align: center;
}

.price__text {
    font-size: 14px;
    text-align: center;
}

.price__card-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.price__card-month {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    text-transform: uppercase;
}

.price__card-btn {
    border-radius: 4px;
    background: #0F8277;
    align-self: stretch;
    border: none;
    color: #F6FDFF;
    font-size: 16px;
}

.price__line {
    height: 1px;
    align-self: stretch;
    border-radius: 80px;
    background: #0F8277;
}

.price__card-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 16px;
    align-self: stretch;
}

.price__list-item {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    font-size: 14px;
    align-self: stretch;
}

.price__list-item::before {
    content: url("../img/bullit 1-3.svg");
}

.price__card-2 {
    display: flex;
    padding: 32px;
    gap: 32px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    border-radius: 24px;
    border: 1px solid #0F8277;
    background: #0F8277;
}

.price__text-title2 {
    font-size: 18px;
    color: #FFF;
    text-align: center;
}

.price__text2 {
    font-size: 14px;
    text-align: center;
    color: #FFF;
}

.price__card-title2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.price__card-month2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    text-transform: uppercase;
}

.price__title2 {
    font-size: 30px;
    color: #FFF;
}

.price__card-btn2 {
    border-radius: 4px;
    border: 2px solid #FFF;
    background: #0F8277;
    align-self: stretch;
    color: #F6FDFF;
    font-size: 16px;
}

.price__line2 {
    height: 1px;
    align-self: stretch;
    border-radius: 80px;
    background: #FFF;
}

.price__card-list2 {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 16px;
    align-self: stretch;
}

.price__list-item2 {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    font-size: 14px;
    color: #FFF;
    align-self: stretch;
}

.price__list-item2::before {
    content: url("../img/bullit 2.svg");
}

.students-block {
    display: flex;
    padding: 64px 8px 0 8px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.students-block h3 {
    font-size: 30px;
}

.students__wrap {
    display: grid;
    grid-template-columns: 167px 167px;
    grid-template-rows: 116px 116px 116px 116px 116px 116px;
    gap: 24px;
}

.img-item {
    width: 100%;
}

.item-img__top-width-phone {
    grid-row: span 2;
    grid-column: span 2;
}

.contact-forms {
    display: flex;
    margin-top: 64px;
    padding: 64px 8px;
    flex-direction: column;
    gap: 24px;
    background: #DBF3ED;
}

.contact-forms__head-title {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-self: stretch;
}

.contact-forms__title {
    font-size: 30px;
}

.contact-forms__text {
    font-size: 16px;
}

.contact-forms__label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.contact-forms__input {
    color: #8E8E8E;
    font-size: 14px;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
}

.contact-forms__form-btn {
    border-radius: 4px;
    background: #0F8277;
    font-size: 16px;
    color: #F6FDFF;
    border: none;
}

.footer__setting {
    display: flex;
    padding: 32px 8px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.footer__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.footer__title {
    font-size: 22px;
}

.footer__text {
    font-size: 14px;
    text-align: center;
}

.footer__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.footer__social-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.footer__text-right {
    font-size: 14px;
}


@media (min-width: 768px) {

    .subtitle {
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
    }

    .nav-menu {
        margin: 16px 12px 0 12px;
    }

    .nav-menu__search-btn {
        display: flex;
        padding: 10px;
        border: 1px solid #5C5C5C;
        border-radius: 4px;
        position: relative;
        background: #0F8277;
    }

    .nav-menu__search-btn::after {
        content:url("../img/magnifying glass.svg");
        width: 16px;
        height: 16px;
    }

    .main-banner {
        margin: 16px 12px 0 12px;
        background-image: url("../img/Mask group.png ");
        background-repeat: no-repeat;
        background-position: 93% center;
    }

    .main-banner__info {
        width: 380px;
        padding: 103px 0 100px 64px;
    }

    .main-banner__btn {
        display: flex;
        flex-direction: row;
    }

    .education-card__wrap {
        display: flex;
        flex-direction: column;
        margin: 64px 12px 0 12px;
        gap: 40px;
    }

    .education-card__card-setting {
        display: flex;
        flex-direction: row;
        gap: 22px;
        align-self: stretch;
    }

    .education-card {
        display: flex;
        width: 232px;
        flex-direction: column;
        align-self: stretch;
    }

    .education-card__photo-banner {
        align-self: stretch;
        height: 180px;
    }

    .education-card__card-content {
        display: flex;
        justify-content: space-between;
        flex: 1 0 0;
        align-self: stretch;
    }

    .course-card {
        display: flex;
        width: 168px;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
    }

    .course-card__photo-banner {
        height: 160px;
    }

    .course-card__card-content {
        display: flex;
        padding: 24px 16px;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 0 0;
        align-self: stretch;
    }

    .course-card__btn {
        display: flex;
        justify-content: center;
        gap: 16px;
        align-self: stretch;
    }

    .category__wrap {
        display: flex;
        gap: 40px;
        margin: 64px 12px 0 12px;
    }

    .category__list-all {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .category__list-info {
        display: flex;
        gap: 32px;
    }

    .partners {
        padding: 64px 12px;
    }

    .partners__wrap {
        gap: 40px;
    }

    .partners__icon {
        display: flex;
        flex-direction: row;
    }

    .business {
        display: flex;
        align-items: center;
        margin: 64px 12px 0 12px;
        gap: 24px;
        flex-direction: row;
    }


    .business__btn {
        display: flex;
        align-self: flex-start;
    }

    .price {
        padding: 64px 12px 80px 12px;
    }

    .price__wrap {
        display: flex;
        gap: 40px;
    }

    .price__card-setting {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .price__card-1-3, .price__card-2 {
        width: 232px;
    }

    .price__card-title {
        display: flex;
        height: 286px;
        gap: 27px;
        align-self: stretch;
    }

    .price__card-title2 {
        display: flex;
        gap: 23px;
    }

    .price__card-btn, .price__card-btn2 {
        align-self: center;
    }

    .students-block {
        padding: 64px 12px 0 12px;
    }

    .students__wrap {
        grid-template-rows: 116px 116px 116px;
        grid-template-columns: 167px 167px 167px 167px;
    }

    .item-img__top-width-phone {
        grid-column: span 1;
        grid-row: span 1;
    }

    .item-img__top-width-desktop {
        grid-row: span 2;
        grid-column: span 2;
    }

    .contact-forms {
        padding: 64px 12px;;
    }

    .contact-forms__form-btn {
        width: 168px;
    }

    .footer__setting {
        display: flex;
        padding: 32px 12px;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__left {
        align-items: flex-start;
        width: 336px;
    }

    .footer__right {
        gap: 0;
        justify-content: space-between;
    }

    .footer__social-wrap {
        justify-content: flex-end;
    }

}

@media (min-width: 1368px) {

    .subtitle {
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;

    }

    .all-btn-setting {
        display: flex;
        padding: 10px 12px;
        justify-content: center;
        align-items: center;
        font-size: 16px;
    }


    .nav-menu {
        max-width: 1400px;
        margin: 30px 36px 0 36px;
    }

    .nav-menu__burger-btn {
        display: none;
    }

    .nav-menu__logo {
        font-size: 32px;
    }

    .nav-menu__left-wrapper {
        display: flex;
        align-items: center;
        gap: 44px;
    }

    .nav-menu__explore {
        border: none;
        gap: 8px;
        border-radius: 4px;
        cursor: pointer;
        background: #0F8277;
        color: #EEE;
        font-size: 16px;
        position: relative;
    }

    .nav-menu__explore::after {
        content: url("../img/arrow nav btn.svg");
        background-image: url("../img/arrow nav btn.svg");
        background-repeat: no-repeat;
        width: 10px;
        height: 18px;
    }

    .nav-menu__search {
        display: flex;
    }

    .nav-menu__input-setting {
        padding:3px 0 3px 12px;
        width: 300px;
        border: 1px solid #5C5C5C;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        outline: none;
        border-right: none;
        color: #5C5C5C;
        font-size: 16px;
    }

    .nav-menu__search-input {
        display: flex;
        padding: 10px;
        cursor: pointer;
        border: 1px solid #5C5C5C;
        background: #0F8277;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .nav-menu__search-input {
        content: url("../img/magnifying glass.svg");

    }

    .nav-menu__right-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 104px;
    }

    .nav-menu__search-btn {
        display: none;
    }

    .nav-menu__nav-list {
        display: flex;
        align-items: center;
        gap: 48px;
        font-size: 16px;
        list-style-type: none;
    }

    .nav-menu__nav-list a {
        text-decoration: none;
        color: #000;
    }

    .nav-menu__btn-1,
    .nav-menu__btn-2 {
        cursor: pointer;
    }

    .main-banner {
        height: 602px;
        max-width: 1400px;
        margin: 31px 36px 0 36px;
        background-image: url("../img/Mask group desk.png");
    }

    .main-banner__info {
        padding: 155px 0 155px 110px;
        width: 512px;
    }

    .main-banner__title {
        font-size: 56px;
    }

    .main-banner__text {
        font-size: 22px;
    }

    .main-banner__btn1,
    .main-banner__btn2 {
        cursor: pointer;
        font-size: 16px;
    }

    .education-card__wrap {
        max-width: 1400px;
        margin: 80px 36px 0 36px;
    }

    .education-card__logo-card,
    .education-card__logo-card-2,
    .education-card__logo-card-3 {
        font-size: 16px;
    }


    .education-card__info {

    }

    .education-card {
        width: 100%;
    }

    .education-card__photo-banner {
        height: 298px;
    }

    .education-card__link {
        font-size: 16px;
    }

    .course-card {
        max-width: 1440px;
        width: 306px;

    }

    .course-card__photo-banner {
        height: 270px;

    }

    .course-card__course-title {
        font-size: 16px;

    }

    .course-card__title-wrap{
        font-size: 24px;
    }

    .course-card__course-link {
        font-size: 16px;
    }

    .course-card__btn {
        cursor: pointer;
        font-size: 20px;
    }

    .category__wrap {
        max-width: 1440px;
        margin: 31px 36px 0 36px;
    }

    .category__title {
        font-size: 40px;
    }

    .category__list-title {
        font-size: 24px;
    }

    .category__list-text {
        font-size: 20px;
    }

    .category__list-students {
        font-size: 16px;
    }

    .category__list-info {
        width: 306px;
    }

    .partners {
        max-width: 1440px;
        padding: 80px 36px;
    }

    .partners__wrap {
        gap: 60px;
    }

    .partners__title {
        width: 871px;
        font-size: 40px;
    }

    .partners__icon {
        display: flex;
        justify-content: space-between;

    }

    .partners__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    }

    .business {
        display: flex;
        flex-direction: row;
        gap: 72px;
        margin: 64px 32px 0 32px;
    }

    .business__wrap {
        display: flex;
        align-items: flex-start;
        gap: 32px;

    }

    .business__title {
        font-size: 40px;
    }

    .business__text {
        font-size: 22px;
    }

    .box-brand {
        width: 213px;
        height: 136px;
    }

    .brand-items1 img {
        width: 150px;
        height: 27px;
    }

    .brand-items2 img {
        width: 62px;
        height: 62px;
    }

    .brand-items3 img {
        width: 111px;
        height: 80px;
    }

    .brand-items4 img {
        width: 150px;
        height: 48px;
    }

    .brand-items5 img {
        width: 63px;
        height: 57px;
    }

    .brand-items6 img {
        width: 151px;
        height: 42px;
    }

    .brand-items7 img {
        width: 150px;
        height: 34px;
    }

    .brand-items8 img {
        width: 61px;
        height: 60px;
    }

    .brand-items9 img {
        width: 150px;
        height: 29px;
    }

    .price {
        padding: 80px 36px 100px 36px;
    }

   .price__title {
       font-size: 40px;
   }

    .price__card-1-3, .price__card-2 {
        width:  416px;
        padding: 56px;
    }

    .price__card-1, .price__card-2 {
        display: flex;
        gap: 48px;
    }

    .price__text-title, .price__text-title2 {
        font-size: 24px;
    }

    .price__text, .price__text2 {
        font-size: 16px;
    }

    .price__title, .price__title2 {
        font-size: 40px;
    }

    .price__text, .price__text2 {
        font-size: 16px;
    }

    .price__card-btn, .price__card-btn2 {
        font-size: 18px;
    }

    .price__list-item, .price__list-item2 {
        font-size: 16px;
    }

    .students-block {
        padding: 80px 36px 100px 36px;
    }

    .students-block h3 {
        font-size: 40px;
    }

    .students__wrap {
        grid-template-rows: 190px 190px 190px;
        grid-template-columns: 280px 280px 280px 280px;
        box-sizing: border-box;
    }

    .contact-forms {
        padding: 80px 256px;
        margin-top: 0;
    }

    .contact-forms__title {
        font-size: 30px;
    }

    .contact-forms__text {
        font-size: 16px;
    }

    .contact-forms__label {
        font-size: 22px;
    }

    .contact-forms__input {
        font-size: 16px;
    }

    .footer__setting {
        padding: 64px 36px;
    }

    .footer__left {
        width: 384px;
    }

    .footer__title {
        font-size: 32px;
    }

    .footer__text {
        font-size: 16px;
    }

    .footer__text-right {
        font-size: 16px;
    }

















}
